.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(363px, 1fr));
  justify-items: center;
  gap: 37px 24px;
  margin: 0;
  padding: 0;
  padding: 70px 0 10px;
  list-style: none;
}

.cards__more {
  display: block;
  margin: 51px auto 80px;
  width: 320px;
  height: 36px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(338px, 1fr));
    gap: 30px 30px;
  }

  .cards__more {
    margin-top: 72px;
  }
}

@media screen and (max-width: 480px) {
  .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    padding: 40px 0 30px;
  }

  .cards__more {
    margin-top: 45px;
    width: 240px;
  }
}