.card {
  display: flex;
  flex-direction: column;
  width: 364px;
  height: 281px;
  border-radius: 6px;
  background: #fdfdfd;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
}

.card__caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 9px 16px 16px 16px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card__title {
  overflow: hidden;
  align-self: center;
  margin: 0;
  padding: 0;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
}

.card__subtitle {
  margin: 0;
  padding: 0;
  color: #8b8b8b;
  white-space: nowrap;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
}

.card__like {
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
}

.card__like_type_save {
  background: transparent url("../../images/like.svg") no-repeat center;
}

.card__like_type_active {
  background: url("../../images/like-active.svg") no-repeat center;
  transition: background-image 0.3s ease;
}

.card__like_type_active:hover {
  background: url("../../images/like-remove.svg") no-repeat center;
  transition: background-image 0.3s ease;
}

.card__like_type_delete {
  background: url("../../images/like-remove.svg");
}

.card__image {
  height: 203px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .card {
    width: 339px;
    height: 262px;
  }

  .card__caption {
    padding: 8px 14px 14px 14px;
  }

  .card__header {
    margin-bottom: 8px;
  }

  .card__image {
    height: 190px;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 300px;
    height: 237px;
  }

  .card__title {
    font-size: 12px;
    line-height: 1.25;
  }

  .card__subtitle {
    font-size: 10px;
    line-height: 1.2;
  }

  .card__header {
    margin-bottom: 6px;
  }

  .card__image {
    height: 168px;
  }
}