.link {
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.link:hover {
  opacity: 0.7;
}

.button:hover {
  opacity: 0.8;
}

.logo {
  background: url("../../images/logo.svg") no-repeat center/contain;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header {
  display: grid;
  grid-template-columns: 85px 1fr;
  padding: 18px 70px;
  background-color: #00b2ca;
}

.header__links {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 30px;
}

.header__link {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.header__button {
  padding: 8px 20px;
  border-radius: 3px;
  background-color: #f2f230;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-right: 14px;
    padding-left: 14px;
  }

  .header__links {
    gap: 14px;
  }

  .header__link {
    font-size: 10px;
    line-height: 1.6;
  }

  .header__button {
    padding: 5px 12px;
  }
}

.main {
  color: #000;
}

.promo {
  position: relative;
  padding: 50px 70px;
  min-height: 460px;
  background-color: #00b2ca;
  color: #fff;
  line-height: 1.3;
}

.promo__title {
  margin: 0;
  padding: 0;
  max-width: 626px;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 1.3;
}

.promo__image {
  position: absolute;
  right: 70px;
  bottom: 60px;
  z-index: 1;
  width: 722px;
  height: 244px;
}

@media screen and (max-width: 1024px) {
  .promo {
    position: static;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 140px;
    padding: 300px 70px 70px;
    text-align: center;
  }

  .promo__image {
    position: static;
    width: 680px;
    height: 230px;
  }
}

@media screen and (max-width: 480px) {
  .promo {
    gap: 60px;
    padding: 183px 10px 40px;
    min-height: 400px;
  }

  .promo__title {
    letter-spacing: -0.04em;
    font-size: 31px;
    line-height: 1.26;
  }

  .promo__image {
    object-fit: cover;
  }
}

.about-project {
  padding: 110px 70px;
}

.section__heading {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.22;
}

.about-project__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 70px;
}

.about-project__title {
  margin: 0;
  padding: 0;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.about-project__paragraph {
  margin: 0;
  margin-top: 26px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.about-project__timing {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 97px;
  text-align: center;
}

.about-project__timing-heading {
  padding: 9px 0;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.about-project__timing-heading_highlighted {
  background-color: #f2f230;
  color: #000;
}

.about-project__timing-text {
  margin: 0;
  padding: 0;
  color: #a0a0a0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (max-width: 1024px) {
  .about-project {
    padding: 91px 50px;
  }

  .about-project__text {
    gap: 30px;
  }

  .about-project__paragraph {
    margin-top: 22px;
    font-size: 12px;
    line-height: 1.5;
  }

  .about-project__timing {
    margin-top: 80px;
  }
}

@media screen and (max-width: 480px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__heading {
    padding-bottom: 28px;
    font-size: 18px;
  }

  .about-project__text {
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin-top: 60px;
  }

  .about-project__title {
    font-size: 18px;
  }

  .about-project__paragraph {
    margin-top: 17px;
    font-size: 11px;
    line-height: 1.45;
  }

  .about-project__timing {
    grid-template-columns: 100px 1fr;
    margin-top: 49px;
  }

  .about-project__timing-heading {
    padding: 11px 0;
    font-size: 11px;
  }

  .about-project__timing-text {
    font-size: 11px;
    line-height: 1.16;
  }
}

.techs {
  padding: 100px 70px;
  background-color: #f5f5f5;
}

.techs__title {
  margin: 0;
  margin-top: 90px;
  padding: 0;
  text-align: center;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
}

.techs__subtitle {
  margin: 0;
  margin: 27px auto 0;
  padding: 0;
  max-width: 460px;
  text-align: center;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.techs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 0;
  margin-top: 100px;
  padding: 0;
  list-style: none;
}

.techs__list-item {
  margin: 0;
  padding: 21px 0;
  width: 90px;
  border-radius: 10px;
  background-color: #e8e8e8;
  text-align: center;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (max-width: 1024px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__title {
    margin-top: 78px;
  }

  .techs__subtitle {
    margin-top: 23px;
    font-size: 12px;
    line-height: 1.5;
  }

  .techs__list {
    margin-top: 83px;
  }

  .techs__list-item {
    width: 84px;
    font-size: 12px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 480px) {
  .techs {
    padding: 70px 18px;
    background-color: #fff;
  }

  .techs__heading {
    padding-bottom: 28px;
    border-bottom: 1px solid #000;
    font-size: 18px;
  }

  .techs__title {
    margin-top: 60px;
    font-size: 30px;
    line-height: 1.21;
  }

  .techs__subtitle {
    margin-top: 24px;
    font-size: 11px;
    line-height: 1.45;
  }

  .techs__list {
    justify-content: flex-start;
    margin: 50px auto 0;
    max-width: 178px;
  }
}

.about-me {
  padding: 111px 70px 52px;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  margin-top: 66px;
}

.about-me__photo {
  align-self: center;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.about-me__name {
  margin: 0;
  padding: 0;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
}

.about-me__profession {
  margin: 0;
  margin-top: 18px;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
}

.about-me__paragraph {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 99px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
}

.about-me__link {
  margin-top: auto;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (max-width: 1024px) {
  .about-me {
    padding: 90px 50px 0;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 1;
  }

  .about-me__profession {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__paragraph {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 480px) {
  .about-me {
    padding: 70px 14px 0;
  }

  .about-me__heading {
    padding-bottom: 28px;
    font-size: 18px;
  }

  .about-me__container {
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 1.2;
  }

  .about-me__profession {
    margin-top: 20px;
    font-size: 11px;
    line-height: 1.45;
  }

  .about-me__paragraph {
    margin-top: 20px;
    margin-bottom: 55px;
    font-size: 11px;
    line-height: 1.45;
  }
}

.portfolio {
  padding: 50px 70px 115px;
}

.portfolio__heading {
  margin: 0;
  padding: 0;
  color: #a0a0a0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
}

.portfolio__links {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 0;
  margin-top: 49px;
  padding: 0;
  list-style: none;
}

.portfolio__links-item {
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__links-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  color: #000;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
}

.portfolio__arrow {
  line-height: 60px;
}

@media screen and (max-width: 1024px) {
  .portfolio {
    padding: 90px 50px 80px;
  }

  .portfolio__links-item {
    border-bottom: 1px solid #e6e6e6;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 1.79;
  }
}

@media screen and (max-width: 480px) {
  .portfolio {
    padding: 70px 14px;
  }

  .portfolio__heading {
    font-size: 14px;
    line-height: 1.43;
  }

  .portfolio__links {
    gap: 20px;
    margin-top: 40px;
  }

  .portfolio__links-item {
    padding-bottom: 19px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 1.56;
  }

  .portfolio__arrow {
    line-height: 28px;
  }
}

.footer {
  padding: 78px 70px 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
}

.footer__heading {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  color: #a0a0a0;
  text-align: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 1.23;
}

.footer__links {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__link {
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 1.23;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 80px 30px 20px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 79px 10px 10px;
  }

  .footer__heading {
    font-size: 12px;
    line-height: 1.25;
  }

  .footer__container {
    align-items: center;
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 31px;
  }

  .footer__links {
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 1.25;
  }

  .footer__copyright {
    color: #a0a0a0;
    font-size: 12px;
    line-height: 1.25;
  }
}