.about-project {
  padding: 110px 70px;
}

.section__heading {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.22;
}

.about-project__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 70px;
}

.about-project__title {
  margin: 0;
  padding: 0;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.about-project__paragraph {
  margin: 0;
  margin-top: 26px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.about-project__timing {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 97px;
  text-align: center;
}

.about-project__timing-heading {
  padding: 9px 0;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.about-project__timing-heading_highlighted {
  background-color: #f2f230;
  color: #000;
}

.about-project__timing-text {
  margin: 0;
  padding: 0;
  color: #a0a0a0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (max-width: 1024px) {
  .about-project {
    padding: 91px 50px;
  }

  .about-project__text {
    gap: 30px;
  }

  .about-project__paragraph {
    margin-top: 22px;
    font-size: 12px;
    line-height: 1.5;
  }

  .about-project__timing {
    margin-top: 80px;
  }
}

@media screen and (max-width: 480px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__heading {
    padding-bottom: 28px;
    font-size: 18px;
  }

  .about-project__text {
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin-top: 60px;
  }

  .about-project__title {
    font-size: 18px;
  }

  .about-project__paragraph {
    margin-top: 17px;
    font-size: 11px;
    line-height: 1.45;
  }

  .about-project__timing {
    grid-template-columns: 100px 1fr;
    margin-top: 49px;
  }

  .about-project__timing-heading {
    padding: 11px 0;
    font-size: 11px;
  }

  .about-project__timing-text {
    font-size: 11px;
    line-height: 1.16;
  }
}